/*-- pd Header main wrapper start --*/
.pd_header_main_wrapper{
	background-color: $title-color-hover;
	.pd_top_header_wrapper{
		float:left;
		width:100%;
			.baz_top_header{
				width: 100%;
			    float: left;
			    text-align: center;
			    background-color: $title-color-white;
			    padding: 13px 20px;
			    border-bottom-left-radius: 30px;
			    border-bottom-right-radius: 30px;
					.left_side{
					float: left;
						ul{
							li{
								display: inline-block;
								padding: 0px 12px;
									a{
										display: inline-block;
										color: $title-color;
										font-size: 14px;
											span{
												    display: inline-block;
    												padding-right: 12px;
											}
											&:hover{
												color: $title-color-hover;
													span{
														svg{
															fill: $title-color-hover;
														}
													}
											}
									}
							}
							li + li{
								border-left: 1px solid rgba(17, 17, 17, 0.22);
							}
							.language {
							    position: relative;
							    	a{
							    		text-transform: uppercase;
							    	}
							    	.submenu {
									    width: 123px;
									    text-align: left;
									    position: absolute;
									    background-color: $title-color-white;
									    z-index: 999;
									    top: 36px;
									    webkit-box-shadow: 1.236px 3.804px 8px 0px rgba(102, 101, 101, 0.48);
									    box-shadow: 1.236px 3.804px 8px 0px rgba(102, 101, 101, 0.48);
									    left: 0;
									    webkit-transition: all 0.3s ease 0s;
									    -o-transition: all 0.3s ease 0s;
									    transition: all 0.3s ease 0s;
									    visibility: hidden;
    									opacity: 0;
									   		a{
									   			width: 100%;
    											padding: 6px 13px;
    												&:hover{
    													background-color: $title-color;
    													color: $title-color-white;
    												}
    												span{
    													display: inline-block;
    													img{
    														width: 20px !important;
    													}
    												}
											    	
									   		}
									}
									&:hover{
										.submenu{
											visibility: visible;
    										opacity: 1;
    										webkit-transition: all 0.3s ease 0s;
										    -o-transition: all 0.3s ease 0s;
										    transition: all 0.3s ease 0s;

										}
									}
							}
						}
					}
					.right_side{
						float: right;
						ul{
							li{
								display: inline-block;
								padding: 0px 12px;
									a{
										display: inline-block;
										color: $title-color;
										font-size: 14px;
										-webkit-transition: all 0.5s;
									    -o-transition: all 0.5s;
									    -ms-transition: all 0.5s;
									    -moz-transition: all 0.5s;
									    transition: all 0.5s;
											span{
											    display: inline-block;
												padding-right: 5px;
													svg{
														width: 17px;
														height: 17px;
														-webkit-transition: all 0.5s;
													    -o-transition: all 0.5s;
													    -ms-transition: all 0.5s;
													    -moz-transition: all 0.5s;
													    transition: all 0.5s;
													}
											}
											&:hover{
												color: $title-color-hover;
												-webkit-transition: all 0.5s;
											    -o-transition: all 0.5s;
											    -ms-transition: all 0.5s;
											    -moz-transition: all 0.5s;
											    transition: all 0.5s;
													span{
														svg{
															fill: $title-color-hover;
															-webkit-transition: all 0.5s;
														    -o-transition: all 0.5s;
														    -ms-transition: all 0.5s;
														    -moz-transition: all 0.5s;
														    transition: all 0.5s;
														}
													}
											}
									}

							}
							li + li{
								border-left: 1px solid rgba(17, 17, 17, 0.22);
							}

						}

					}
			}

			.middle_header{
				padding: 30px 0px;

					.logo{
						img{
							width: 165px;
						}
					}
					.search_filter{
						text-align: center;
					    width: 100%;
					    max-width: 600px;
					    margin: 0 auto;
					    display: flex;
					    	.select_dropdown {
							    float: left;
							    padding: 11px 12px;
							    border-top-left-radius: 30px;
							    border-bottom-left-radius: 30px;
							    border: none;
							    height: 50px;
							    border-right: 1px solid #1111113d;
							    
							}
					    	input{
					    		font-size: 14px;
							    border: none;
							    height: 50px;
    							padding: 12px;
							    float: left;
							    width: 65%;
							   
					    	}
					    	.search_btn {
							    padding: 9px 24px;
							    border: 0;
							    height: 50px;
							    background-color: #ebe92a;
							    color: $title-color;
							    border-top-right-radius: 30px;
							    border-bottom-right-radius: 30px;
							    webkit-transition: all 0.5s;
							    -o-transition: all 0.5s;
							    -ms-transition: all 0.5s;
							    -moz-transition: all 0.5s;
							    transition: all 0.5s;
							   
							    	&:hover{
							    		color: $title-color-white;
							    		background-color: $title-color;
							    		webkit-transition: all 0.5s;
									    -o-transition: all 0.5s;
									    -ms-transition: all 0.5s;
									    -moz-transition: all 0.5s;
									    transition: all 0.5s;
							    	}
							}

					}
					.cart_shop{
						position: relative;
						float: right;
						a{

							svg{
								width: 44px;
								height: 44px;
								fill: $title-color-white;
								float: left;
							}
							span{
								display: inline-block;
							    padding-left: 21px;
							    color: $title-color-white;
							    	small{
							    		display: block;
							    	}
							}
							strong{
								padding-left: 21px;
								color: $title-color-white;
							}
							&:hover{
								svg{
									fill: #ebe92a;
								}
								span{
									color: #ebe92a;
								}
								strong{
									color: #ebe92a;
								}
							}
						}
						.cart_details{
							position: absolute;
						    z-index: 11;
						    background-color: $title-color-white;
						    width: 311px;
						    right: 0px;
						    visibility: hidden;
						    opacity: 0;
						    padding: 12px 20px;
						    -webkit-transition: $transition;
							-o-transition: $transition;
							-ms-transition: $transition;
							-moz-transition: $transition;
							transition: $transition;
							transition: ease all 0.3s;
							top: calc(100% - 30px);
							box-shadow: 0 10px 25px rgba(0,0,0,.15);
								&:after{
									content: '';
								    border-left: 12px solid transparent;
								    border-right: 12px solid transparent;
								    border-bottom: 12px solid #fff;
								    position: absolute;
								    top: -12px;
								    right: 32px;
								    width: 25px;
								    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
								}
						    	
						    	.sub_total{
						    		width: 100%;
						    		float: left;
						    			p{
						    				color: $title-color;
										    padding: 12px 0px;
										    text-transform: uppercase;
										    font-size: 14px;
										    font-weight: 600;
						    					span{
						    						float: right;
						    						color: $title-color;
						    						font-size: 16px;
										    		font-weight: 600;
						    					}
						    			}
								}
								.cart_btn {
								    width: 100%;
								    float: left;
								    margin: 12px 0px;
								    	a{
								    		display: inline-block;
										    padding: 6px 13px;
										    background-color: $title-color;
										    color: $title-color-white;
										    border-radius: 24px;
										    margin-left: 9px;
										    	&:hover{
										    		 background-color: $title-color-hover;
										    	}
								    	}
								}
								.total-count{
									padding: 12px 0px;
									border-bottom: 1px solid #ccc;
									span{
										font-size: 14px;
									    font-weight: 600;
									    color: #111;
									    text-transform: uppercase;
									}
									a{
										display: inline-block;
    									float: right;
    									font-size: 14px;
									    font-weight: 600;
									    color: #111;
									}
								}
								.cart_list{
								    width: 100%;
								    float: left;
								    padding: 18px 0px;
								    border-bottom: 1px solid #ccc;
								    	.select_cart{
											padding: 12px 0px;
											width: 50%;
											float: left;
										a{
											display: inline-block;
	    									font-size: 14px;
										    font-weight: 600;
										    color: #111;
										}
										span{
										    display: block;
										    color: #111;
										    font-size: 15px;
										    padding-top: 8px;
										}
									}
									.select_img{
										position: relative;
										img{
											width: 88px;
	    									float: right;
										}
										.close_btn {
										    position: absolute;
										    right: 32px;
										    top: 33px;
										    cursor: pointer;
										     i{
										     	color: #111;
											    background: #fff;
											    padding: 7px 8px;
											    font-size: 11px;
											    border-radius: 30px;
										     }
										}
									}
								}
								
						}
						&:hover{
							.cart_details{
								visibility: visible !important;
    							opacity: 1 !important;
    							transition: ease all 0.3s;
							    -webkit-transition: all 0.5s;
							    -o-transition: all 0.5s;
							    -ms-transition: all 0.5s;
							    -moz-transition: all 0.5s;
							    transition: all 0.5s;
							    top: 120%;
							}
						}
					}
			}
		
	}
	.pd_navigation_wrapper{
		float: left;
	    width: 100%;
	    background: $title-color-hover;
	    position: relative;
	    border-top: 1px solid rgba(255, 255, 255, 0.3607843137254902);
    
			.pd_fixed_navi_logo_wrapper{
				img{
					display:none;
					float:left;
					width: 115px;
					padding-left: 30px;
					padding-top: 7px;
				}
			}
		.pd_inner_navigation_wrapper{
			width: 100%;
			float: left;
				.baz_categories{
					float: left;
						ul{
							li{
								a{
									border-right: 1px solid rgba(255, 255, 255, 0.52);
									padding-left: 0;
									 span{
									 	svg{
									 		width: 16px;
									 		height: 16px;
									 		fill: #fff;
									 	}
									 }
								}
								.category_back {
									    background-color: #48bef2;
									}
							}
						}
				}
			ul{
				li{
					float:left;
					position: relative;
					color: #000;
					-webkit-transition: $transition;
					-o-transition: $transition;
					-ms-transition: $transition;
					-moz-transition: $transition;
					transition: $transition;
					a{
						display: block;
						color: $title-color-white;
						font-size: 15px;
						padding:18px 18px;
						text-transform: capitalize;
						text-align:left;
						position:relative;
						    z-index: 1;
						-webkit-transition: $transition;
						-o-transition: $transition;
						-ms-transition: $transition;
						-moz-transition: $transition;
						transition: $transition;
							span {
							    padding-right: 10px;
							}
							.badge{
								&:after{
							    		content: '';
									    border-left: 6px solid transparent;
									    border-right: 6px solid transparent;
									    border-top: 6px solid #ee5454;
									    position: absolute;
									    top: 17px;
									    right: 15px;
									   
							    	}
							}
							.new{
								&:after{
									content: '';
								    border-left: 6px solid transparent;
								    border-right: 6px solid transparent;
								    border-top: 6px solid #c5c41e;
								    position: absolute;
								    top: 17px;
								    right: 15px;
								}
							}
					}
					&:hover{
						a{
							background:rgba(255, 255, 255, 0.28);
						}
					}
				}
				
			}
			.today{
				float: right;
					a{
						padding: 18px 20px;
					    display: inline-block;
					    color: #ffffff;
					    border-left: 1px solid rgba(255, 255, 255, 0.52);
					}
			}
			ul{
				li{
					ul{
						position: absolute;
						top: 100%;
						z-index:100;
						width: 211px;
						opacity: 0;
						right:0;
						padding-top:15px;
						padding-bottom:15px;
						visibility: hidden;
						background: $title-color-white;
						margin-bottom: 15px;
						-webkit-transition: $transition;
						-o-transition: $transition;
						-ms-transition: $transition;
						-moz-transition: $transition;
						transition: $transition;
						transition: ease all 0.3s;
						margin-top: 30px;
						box-shadow: 0 10px 25px rgba(0,0,0,.15);
						&:after{
							    content: '';
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-bottom: 12px solid $title-color-white;
								position: absolute;
								top: -12px;
								right: 32px;
								
						}
						li{
							width:100%;
							margin-left:0 !important;
							a{
								padding:8px 25px;
								color:$title-color !important;
								background: transparent !important;
							    font-size: 14px;
							    text-transform: capitalize;
							    font-weight: 500;
							    
							    
								&:after{
									display:none;
								}
								&:hover{
									background:rgba(255, 255, 255, 0.28) !important;
									color: #01a5ed !important;
								}
							}
							
						}
					}
					.cat_sub_menu {
					    width: 648px !important;
					    left: 0 !important;
					   
					    &:after{
					    	content: '';
								border-left: 12px solid transparent;
								border-right: 12px solid transparent;
								border-bottom: 12px solid $title-color-white;
								position: absolute;
								top: -12px;
								left: 32px;
								width: 25px;
								box-shadow: none;
					    }
					    .category_a{
					    	width: 212px;
					    	float: left;
					    	padding: 20px;
					    		a{
					    			text-transform: uppercase;
					    		}
					    		.cat_links{
					    			padding-top: 14px;
					    			a{
					    				font-size: 16px !important;
    									padding: 3px 23px !important;
    									text-transform: capitalize;
    										&:hover{
    											color: #ee5454 !important;
    										}
					    			}
					    		}
					    		P{
					    			padding-left: 23px;
					    			text-transform: uppercase;
					    		}
					    }
					}
					&:hover{
						ul{
							opacity: 1;
							visibility: visible;
							margin-bottom: 0;
							transition: ease all 0.3s;
							-webkit-transition: $transition;
							-o-transition: $transition;
							-ms-transition: $transition;
							-moz-transition: $transition;
							transition: $transition;
							margin-top: 0px;
						}
					}
				}
			}
		}
		.pd_search_wrapper{
			float:right;
			width:auto;
			padding-top: 15px;
			padding-right: 30px;
		}
	}
	.pd_search_box{
				position: absolute;
				right: 0;
					top: 0;
				padding: 0px;
				width: 100%;
				display: inline-block;
				border-radius: 0px;
				display: none;
				z-index: 1000;
				box-shadow:2px 0 10px rgba(0,0,0,0.08);
				input{
					float: left;
					width: calc(100% - 68px);
					padding: 0px 10px;
					height: 59px;
					border: 0;
					border-right: 0px;
				}
				button{
					width: 68px;
					height: 60px;
					color: $title-color-white;
					border: 1px solid $title-color-hover;
					border-left: none;
					line-height: 56px;
					background: $title-color-hover;
					text-align: center;
					padding: 0px;
					cursor:pointer;
					font-size:24px;
				}
			}
}
.menu_fixed{
	position:fixed !important;
	background:$title-color-white;
	-webkit-box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -moz-box-shadow:  0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -o-box-shadow:  0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    -ms-box-shadow:  0px 1px 20px 0px rgba(0, 0, 0, 0.10);
    box-shadow:  0px 1px 20px 0px rgba(0, 0, 0, 0.10);
	z-index:1000;
	left:0;
	right:0;
	top: 0;
}
.menu_fixed.pd_navigation_wrapper{
	width:100%;
	 ul{
	 	li{
	 		a{
	 			.badge{
	 				display: none;
	 			}
	 		}
	 	}
	 }
}
.menu_fixed.pd_navigation_wrapper{
	.pd_fixed_navi_logo_wrapper{
		img{
			display:block;
		}	
	}
}
/*-- pd Header main wrapper End --*/

/* admin css */
.ad_pd_condi_top_header_wrapper{
	background:$title-color-white;
	text-align:center;
	padding-top: 60px;
    padding-bottom: 60px;
}



.pd_header_main_wrapper .pd_navigation_wrapper .fc_inner_navigation_wrapper ul li ul li a:hover{
	color: #ce8f5a !important;
}